/* styles.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
.menu {
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  text-align: center;
  z-index: 9999; /* Certifique-se de que o menu esteja acima de outros elementos */
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.center-text {
  text-align: center;
}

.larger-text {
  font-size: 18px;
  line-height: 1.5;
}

.question-container {
  margin-top: 20px;
}

.question {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

.question-title {
  margin-top: 0;
}

.answer {
  display: none;
  padding-top: 10px;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  position: relative;
}

.toggle-button {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  margin-top: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.question.active .answer {
  display: block;
}



.image-text-container {
  display: flex;
  align-items: center;
}

.image-container {
  margin-right: 20px;
}

.image-container img {
  width: 200px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-container {
  flex: 1;
}
.larger-text {
  font-size: 25px;
  line-height: 3;
}
.larger-text1 {
  font-size: 20px;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  /* Estilos para telas com largura máxima de 768px (ex: smartphones) */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para telas com largura entre 769px e 1024px (ex: tablets) */
}

@media screen and (min-width: 1025px) {
  /* Estilos para telas com largura mínima de 1025px (ex: desktops) */
}
