/* styles.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.menu {
  background-color: #333;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.center-text {
  text-align: center;
}

.larger-text {
  font-size: 18px;
  line-height: 1.5;
}

.question-container {
  margin-top: 20px;
}

.question {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.question-title {
  margin-top: 0;
}

.answer {
  display: none;
  padding-top: 10px;
}

.toggle-button {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  margin-top: 5px;
  cursor: pointer;
}

.toggle-button::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px auto;
}

.question.active .answer {
  display: block;
}

.image-text-container {
  display: flex;
  align-items: center;
}

.image-container {
  margin-right: 20px;
}

.image-container img {
  width: 200px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-container {
  flex: 1;
}
.larger-text {
  font-size: 25px;
  line-height: 2;
}
.larger-text1 {
  font-size: 20px;
  line-height: 2;
}